@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.slide a.active{
    text-align: center;
    align-items: center;

    font-weight: bold;
    font-size: 20px;
    opacity: 1;
}
.logos{
  
    height: 40vh;
    background: #eff3f8;
}
.containerss{
    padding-top: -10px;
}
.containerss  h2{
    float: left;
    width: 100%;
    text-align: center;
    color: #d43242;
    font-size: 34px;
    font-weight: 800;
    margin-top: -50px;
    position: relative;
}
.slick-slide{
    margin: 0 20px;
}
/* img size of brand logos */
.customer-logos.slider .slide .img{
    line-height: 5;
}
    
.customer-logos.slider .slide img{
    margin-top: 100px;
    padding: 15px;
    height: 100%;
    width: 100px;
}
.slide {
    
    text-decoration: none;
}
.slide a {
    color: #d43242;
    font-size: 15px;
    font-weight: 500;
    

    
}
.slide a:hover {
    color: #d43242;
    opacity: 1;
  font-weight: 700;
    text-decoration: none;
        
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}



/* periodic service page 2 */
/* page1 */
.bgbg{
    overflow: hidden;
    height: 746vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #1da1f2; */
    background: linear-gradient(#26284e, #0f4675 50%, #fff 100%);
}
.title-2 h1{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
    max-width: 1000px;
    /* width: 200%; */
    border: 2px solid lightgrey;
    margin-right: -1000px;
    margin-top: -2305px;
    color: #d43242;
    font-weight: 600;
}


.wrapper{
    margin-top: -4231px;
    background: #fff;
    max-width: 1000px;
    height: 40vh;
    margin-right: 500px;
    width: 200%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section{
    display: flex;
}
.about-section img{
    width: 170px;
    margin: 10px;
    margin-top: 10px;
    height: 25vh;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}
.about-section p{
    margin: 10px;
    line-height: 2;
}
.about-section button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section .service-con .left-box{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: 10px;
  
}
.about-section .service-con .left-box .text-1{
    margin-bottom: -30px;
}
.about-section .service-con .left-box .text-2{
    margin-bottom: -30px;
    margin-top: 50px;

}
.about-section .service-con .sidebox-right{
   
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
   
    margin-top: 60px;
}
 /* .about-section .sidebox-right .text-4{
    margin-left: 300px;
}  */
 

/* page2 */
.wrapper1{
    margin-top: -3715px;
    background: #fff;
    max-width: 1000px;
    height: 38vh;
    width: 100%;
    margin-left: -1500px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper1 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section1{
    display: flex;
}
.about-section1 img{
    width: 170px;
    margin: 10px;
    border: 1px solid lightgrey;
    height: 25vh;
    margin-top: -10px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}
.about-section1 p{
    margin: 10px;
    line-height: 2;
}
.about-section1 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section1 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box1{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section1 .service-con1 .left-box1{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section1 .service-con1 .left-box1 .text-11{
    margin-top: 20px;
    margin-bottom: -50px;
}
.about-section1 .service-con1 .left-box1 .text-22{
    /* margin-left: 300px; */
    margin-top: 65px;
       
}
.about-section1 .service-con1 .sidebox-right1{
   
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
   
    margin-top: 50px;
}



/* page3 */

.wrapper2{
    margin-top: -3076px;
    background: #fff;
    max-width: 1000px;
    height: 40vh;
    width: 100%;
    margin-left: -1000px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper2 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section2{
    display: flex;
}
.about-section2 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}

.about-section2 p{
    margin: 10px;
    line-height: 2;
}
.about-section2 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section2 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box2{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section2 .service-con2 .left-box2{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section2 .service-con2 .left-box2 .text-111{
    margin-top: 20px;
    margin-bottom: -50px;
}
.about-section2 .service-con2 .left-box2 .text-222{
    /* margin-left: 300px; */
    margin-top: 70px;
    margin-bottom: -30px;
       
}
.about-section2 .service-con2 .sidebox-right2{
   
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -410px;
   
    margin-top: 55px;
}
.title-1 h1{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
    max-width: 1000px;
    /* width: 200%; */
    border: 2px solid lightgrey;
    margin-left: -1000px;
    margin-top: -1727px;
    color: #d43242;
    font-weight: 600;
}






/* page4 */
.wrapper-2{
    margin-top: -2555px;
    background: #fff;
    max-width: 1000px;
    height: 39vh;
    width: 100%;
    margin-left: -1000px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-2 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-2{
    display: flex;
}
.about-section-2 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}
.about-section-2 p{
    margin: 10px;
    line-height: 2;
}
.about-section-2 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-2 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-2{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-2 .service-con-2 .left-box-2{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-2 .service-con-2 .left-box-2 .text-01{
    margin-top: 20px;
    margin-bottom: -35px;
}
.about-section-2 .service-con-2 .left-box-2 .text-02{
    /* margin-left: 300px; */
    margin-top: 50px;
    margin-bottom: -30px;
       
}
.about-section-2 .service-con-2 .sidebox-right-2{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -85px;
}
.about-section-2 .service-con-2 .sidebox-right-2 .text-01{
    margin-right: 10px;
   margin-bottom: -80px;
}
.about-section-2 .service-con-2 .sidebox-right-2 .text-02{
   margin-right: 10px;
    
}
.title-4  h1{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
    max-width: 1000px;
    width: 200%;
    border: 2px solid lightgrey;
    margin-left: -10px;
    padding: 5px ;
    margin-top: 22px;
    color: #d43242;
    font-weight: 700;
}






/* page 5 */
.wrapper-3{
    margin-top: -12px;
    background: #fff;
    max-width: 1000px;
    height: 40vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-3 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-3{
    display: flex;
}
.about-section-3 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-3 p{
    margin: 10px;
    line-height: 2;
}
.about-section-3 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-3 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-3{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-3 .service-con-3 .left-box-3{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-3 .service-con-3 .left-box-3 .text-011{
    margin-top: 20px;
    margin-bottom: -50px;
}
.about-section-3 .service-con-3 .left-box-3 .text-022{
    margin-bottom: -20px;
    margin-top: 60px;
  
       
}
.about-section-3 .service-con-3 .left-box-3 .text-033{
    margin-bottom: -30px;
    margin-top: 21px;
   
       
}
.about-section-3 .service-con-3 .sidebox-right-3{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -60px;
}
.about-section-3 .service-con-3 .sidebox-right-3 .text-011{
    /* margin-left: -150px; */
    margin-bottom: -30px;
    /* padding: 0px 95px; */
    margin-top: 105px;
}


/* page6 */
.wrapper-4{
    margin-top: 8px;
    background: #fff;
    max-width: 1000px;
    height: 40vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-4 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-4{
    display: flex;
}
.about-section-4 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-4 p{
    margin: 10px;
    line-height: 2;
}
.about-section-4 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-4 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-4{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-4 .service-con-4 .left-box-4{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-4 .service-con-4 .left-box-4 .text-0111{
    margin-top: 20px;
    margin-bottom: -50px;
}
.about-section-4 .service-con-4 .left-box-4 .text-0222{
    margin-left: 280px;
    margin-top: 20px;
       
}
.about-section-4 .service-con-4 .sidebox-right-4{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-4 .service-con-4 .sidebox-right-4 .text-0111{
  
    margin-top: 55px;
}
.title-5 h1{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
    max-width: 1000px;
    width: 200%;
    border: 2px solid lightgrey;
    margin-left: -10px;
    padding: 5px ;
    margin-top: 8px;
    color: #d43242;
    font-weight: 700;
}

/* page7 */
.wrapper-5{
    margin-top: -11px;
    background: #fff;
    max-width: 1000px;
    height: 38vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-5 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-5{
    display: flex;
}
.about-section-5 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-5 p{
    margin: 10px;
    line-height: 2;
}
.about-section-5 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-5 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-5{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-5 .service-con-5 .left-box-5{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-5 .service-con-5 .left-box-5 .text1{
    margin-top: 20px;
    margin-bottom: 20px;

    
}
/* .about-section-5 .service-con-5 .left-box-5 .text2{
    margin-left: 280px;
    margin-top: 20px;
       
} */
.about-section-5 .service-con-5 .sidebox-right-5{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-5 .service-con-5 .sidebox-right-5 .text1{
    /* margin-left: 10px; */

    /* padding: 0px 95px; */
    margin-top: 170px;
}

/* page8 */
.wrapper-6{
    border: 1px solid lightgrey;
    margin-top: 10px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-6 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-6{
    display: flex;
}
.about-section-6 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-6 p{
    margin: 10px;
    line-height: 2;
}
.about-section-6 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-6 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-6{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-6 .service-con-6 .left-box-6{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-6 .service-con-6 .left-box-6 .text11{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-6 .service-con-6 .left-box-6 .text22{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-6 .service-con-6 .sidebox-right-6{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-6 .service-con-6 .sidebox-right-6 .text11{
    margin-bottom: -30px;
    margin-top: 160px;
}


/* page9 */
.wrapper-7{
    border: 1px solid lightgrey;
    margin-top: 10px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-7 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-7{
    display: flex;
}
.about-section-7 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-7 p{
    margin: 10px;
    line-height: 2;
}
.about-section-7 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-7 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-7{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-7 .service-con-7 .left-box-7{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-7 .service-con-7 .left-box-7 .t-1{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-7 .service-con-7 .left-box-7 .t-2{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-7 .service-con-7 .sidebox-right-7{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-7 .service-con-7 .sidebox-right-7 .t-1{
    margin-bottom: -30px;
    margin-top: 160px;
}



/* page10 */
.wrapper-8{
    border: 1px solid lightgrey;
    margin-top: 10px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-8 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-8{
    display: flex;
}
.about-section-8 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-8 p{
    margin: 10px;
    line-height: 2;
}
.about-section-8 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-8 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-8{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-8 .service-con-8 .left-box-8{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-8 .service-con-8 .left-box-8 .t-11{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-8 .service-con-8 .left-box-8 .t-22{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-8 .service-con-8 .sidebox-right-8{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-8 .service-con-8 .sidebox-right-8 .t-11{
    margin-bottom: -30px;
    margin-top: 160px;
}


/* page11 */

.wrapper-9{
    border: 1px solid lightgrey;
    margin-top: 10px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-9 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-9{
    display: flex;
}
.about-section-9 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-9 p{
    margin: 10px;
    line-height: 2;
}
.about-section-9 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-9 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-9{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-9 .service-con-9 .left-box-9{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-9 .service-con-9 .left-box-9 .t-111{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-9 .service-con-9 .left-box-9 .t-222{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-9 .service-con-9 .sidebox-right-9{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-9 .service-con-9 .sidebox-right-9 .t-111{
    margin-bottom: -30px;
    margin-top: 160px;
}
.title-6 h1{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
    max-width: 1000px;
    width: 200%;
    border: 2px solid lightgrey;
    margin-left: -10px;
    padding: 7px ;
    margin-top: 7px;
    color: #d43242;
    font-weight: 700;
}


/* page12 */
.wrapper-10{
    border: 1px solid lightgrey;
    margin-top: -12px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-10 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-10{
    display: flex;
}
.about-section-10 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-10 p{
    margin: 10px;
    line-height: 2;
}
.about-section-10 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-10 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-10{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-10 .service-con-10 .left-box-10{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-10 .service-con-10 .left-box-10 .t1{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-10 .service-con-10 .left-box-10 .t2{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-10 .service-con-10 .sidebox-right-10{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-10 .service-con-10 .sidebox-right-10 .t1{
    margin-bottom: -30px;
    margin-top: 160px;
}

/* page13 */

.wrapper-11{
    border: 1px solid lightgrey;
    margin-top: 8px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-11 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-11{
    display: flex;
}
.about-section-11 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-11 p{
    margin: 10px;
    line-height: 2;
}
.about-section-11 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-11 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-11{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-11 .service-con-11 .left-box-11{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-11 .service-con-11 .left-box-11 .t11{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-11 .service-con-11 .left-box-11 .t22{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-11 .service-con-11 .sidebox-right-11{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-11 .service-con-11 .sidebox-right-11 .t11{
    margin-bottom: -30px;
    margin-top: 160px;
}


/* page14 */
.wrapper-12{
    border: 1px solid lightgrey;
    margin-top: 8px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-12 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-12{
    display: flex;
}
.about-section-12 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-12 p{
    margin: 10px;
    line-height: 2;
}
.about-section-12 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-12 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-12{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-12 .service-con-12 .left-box-12{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-12 .service-con-12 .left-box-12 .t111{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-12 .service-con-12 .left-box-12 .t222{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-12 .service-con-12 .sidebox-right-12{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-12 .service-con-12 .sidebox-right-12 .t111{
    margin-bottom: -30px;
    margin-top: 160px;
}

/* page15 */
.wrapper-13{
    border: 1px solid lightgrey;
    margin-top: 8px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-13 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-13{
    display: flex;
}
.about-section-13 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-13 p{
    margin: 10px;
    line-height: 2;
}
.about-section-13 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-13 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-13{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-13 .service-con-13 .left-box-13{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-13 .service-con-13 .left-box-13 .t01{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-13 .service-con-13 .left-box-13 .t02{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-13 .service-con-13 .sidebox-right-13{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-13 .service-con-13 .sidebox-right-13 .t01{
    margin-bottom: -30px;
    margin-top: 160px;
}

/* page16 */
.wrapper-14{
    border: 1px solid lightgrey;
    margin-top: 8px;
    background: #fff;
    max-width: 1000px;
    height: 42vh;
    width: 110%;
    margin-left: -10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}

.wrapper-14 h1{
    font-size: 25px;
    color: #d43242;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-section-14{
    display: flex;
}
.about-section-14 img{
    width: 170px;
    margin: 10px;
    height: 25vh;
    margin-top: 2;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
} 
.about-section-14 p{
    margin: 10px;
    line-height: 2;
}
.about-section-14 button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section-14 button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.bgbg .right-box-14{
    float: right;
    margin-right:20px ;
    padding: 10px ;
}

.about-section-14 .service-con-14 .left-box-14{
    
    font-weight: 500;
    float: left;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: 50px;
    margin-top: -20px;
  
}
.about-section-14 .service-con-14 .left-box-14 .t011{
    margin-top: 20px;
    margin-bottom: 25px;

    
}
.about-section-14 .service-con-14 .left-box-14 .t022{
    /* margin-left: 250px; */
    margin-top: -10px;
    margin-bottom: 2px;
  
       
}
.about-section-14 .service-con-14 .sidebox-right-14{
    font-weight: 500;
    float: right;
    text-align: left;
    width: 100%;
    line-height: 2;
    padding: 0px 0px;
    margin-right: -350px;
    margin-top: -120px;
}
.about-section-14 .service-con-14 .sidebox-right-14 .t011{
    margin-bottom: -30px;
    margin-top: 160px;
}



